<!-- jqeury -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Highcharts -->
<script>
    $(function () {
	Highcharts.setOptions({
            global: {
		useUTC: false
            }
	});

	// Create the chart
	Highcharts.stockChart('container', {
            chart: {
		events: {
                    load: function () {

			// set up the updating of the chart each second
			var series = this.series[0];
			setInterval(function () {
                            var x = (new Date()).getTime(), // current time
				y = Math.round(Math.random() * 100);
                            series.addPoint([x, y], true, true);
			}, 1000);
                    }
		}
            },

            rangeSelector: {
		buttons: [{
                    count: 1,
                    type: 'minute',
                    text: '1M'
		}, {
                    count: 5,
                    type: 'minute',
                    text: '5M'
		}, {
                    type: 'all',
                    text: 'All'
		}],
		inputEnabled: false,
		selected: 0
            },

            exporting: {
		enabled: false
            },

            series: [{
		name: 'Random data',
		data: (function () {
                    // generate an array of random data
                    var data = [],
			time = (new Date()).getTime(),
			i;

                    for (i = -999; i <= 0; i += 1) {
			data.push([
                            time + i * 1000,
                            Math.round(Math.random() * 100)
			]);
                    }
                    return data;
		}())
            }]
	});

    });
</script>

<script>
    $(function () {
	$("#graph_button").click(function(){
	    $('html, body').animate({
		scrollTop: $("#sec_graph").offset().top
	    }, 2000);
	});
	$("#tweets_button").click(function(){
	    $('html, body').animate({
		scrollTop: $("#sec_tweets").offset().top
	    }, 2000);
	});
	$("#companies_button").click(function(){
	    $('html, body').animate({
		scrollTop: $("#sec_companies").offset().top
	    }, 2000);
	});
	$("#apple_button").click(function(){
	    $("#apple_button").addClass("active");
	    $("#samsung_button").removeClass("active");
	    $("#microsoft_button").removeClass("active");
	});
	$("#samsung_button").click(function(){
	    $("#samsung_button").addClass("active");
	    $("#apple_button").removeClass("active");
	    $("#microsoft_button").removeClass("active");
	});
	$("#microsoft_button").click(function(){
	    $("#microsoft_button").addClass("active");
	    $("#apple_button").removeClass("active");
	    $("#samsung_button").removeClass("active");
	});
    });
</script>
